
body, html {
    height: 100%;
}

nav {
    background: #222;
    padding: 0 15px;
}

a {
    color: white;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    color: white;
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;

}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-container li a {
    display: block;
    padding: 15px 5px;

}



h2 {
    font-size: 28px;
}

.hero-image {
    background-image:
    url("https://www.techrepublic.com/a/hub/i/r/2021/02/17/3c192f18-47eb-428a-b64f-ba57fcd3c36a/resize/770x/f6331a1067a7b7fa04ef225a6493d63e/programming-coding.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    grid-gap: 10px;
}

.grid-container > div {
    height: 150px;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
} 

.grid-container .Horiseon {
    grid-column: 1/5;

}

.Horiseon {
    color: white;
    background: url("../Images/horiseon.png")
}

.led-wall {
    color: white ;
    background: url("../Images/led-wall.jpeg")
}

.calculator {
    background: url("../Images/calculator.jpeg")
}

.pastel-puzzle {
    background: url("../Images/pastel-puzzle.jpeg")
}

.run-buddy {
    color: white;
    background: url("../Images/run-buddy.jpeg")
}



