li {
    color: white;
}

body, html {
    height: 100%;
}

h2 {
    font-size: 28px;
}

.hero-image {
    background-image:
    url("https://www.techrepublic.com/a/hub/i/r/2021/02/17/3c192f18-47eb-428a-b64f-ba57fcd3c36a/resize/770x/f6331a1067a7b7fa04ef225a6493d63e/programming-coding.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
}

.about {
    display: flex;
    justify-content: right;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    grid-gap: 10px;
}

.grid-container > div {
    height: 150px;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
} 

.grid-container .Horiseon {
    grid-column: 1/5;

}

.Horiseon {
    color: white;
    background: url("/Users/ismeny/Desktop/Bootcamp/Homework/Homework-2-Professional-Portfolio/assets/Images/screen-shot.png")
}

.led-wall {
    color: white ;
    background: url("/Users/ismeny/Desktop/Bootcamp/Homework/Homework-2-Professional-Portfolio/assets/Images/led-wall.jpeg")
}

.calculator {
    background: url("/Users/ismeny/Desktop/Bootcamp/Homework/Homework-2-Professional-Portfolio/assets/Images/calculator.jpeg")
}

.pastel-puzzle {
    background: url("/Users/ismeny/Desktop/Bootcamp/Homework/Homework-2-Professional-Portfolio/assets/Images/pastel-puzzle.jpeg")
}

.run-buddy {
    color: white;
    background: url("/Users/ismeny/Desktop/Bootcamp/Homework/Homework-2-Professional-Portfolio/assets/Images/run-buddy.jpeg")
}



